/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-title{
    color: rgb(229, 49, 112);
    text-align: center;
    font-size: 50px;

}

main{
    font-family: 'Fredoka', sans-serif;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    

}

.text{
    text-align: center;
    padding: 4rem 1rem;
    
    
}


.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.back-color{
    background-color: black;
}
 
img{
    height: 105px;
    width: 105px;
    margin-right: 1rem;

}

.container-box{
    background-color: black;
    width: calc(100% / 3 - 2rem);
    margin-left: 2rem;
    margin-bottom: 4rem;
    height: 105px;
    
   
   

   
}

.display-div{
  vertical-align:middle;
  display: inline-block;
  height: 180px;
  
}

.color-mail{
color: rgb(107, 200, 236);


}


span{
    vertical-align: 0.5rem;
    color: white;

}
